.home-about__inner {
  // overflow: hidden;
  padding-bottom: max(4.5rem, min(11.8447vw + 1.72391rem, 15.9375rem));
  padding-top: max(4rem, min(6.40777vw + 2.49818rem, 10.1875rem));
  position: relative;

  &:after {
    background-color: var(--color-surface25);
    bottom: 0;
    content: "";
    height: 0.0625rem;
    left: 0;
    position: absolute;
    width: 100%;
  }
  &:before {
    @media only screen and (min-width: 48rem) {
      background-color: var(--color-surface25);
      content: "";
      height: 0.0625rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .subtitle {
    padding: 0;

    .subtitle__brace {
      height: 50.9px;
    }

    .subtitle__label {
      width: 72px;
      font-weight: 600;
      letter-spacing: -0.01em;
      line-height: 1.2;
      font-size: max(0.875rem, min(0.12945vw + 0.84466rem, 1rem));
    }
  }

  .home-intro__copy {
    padding-top: max(3.6875rem, min(0.323625vw + 3.61165rem, 4rem));

    .body-xl {
      font-size: max(2rem, min(3.17152vw + 1.25667rem, 4.5rem));
      font-weight: 400;
      letter-spacing: -0.01em;
      line-height: 1.2;
    }

    .hand {
      display: inline-block;
    }
  }
}
