.footer {
  background-color: var(--color-surface-white);
  color: var(--color-just-black);

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 120rem;
    padding-left: max(1.5rem, min(6.73139vw - 0.0776699rem, 8rem));
    padding-right: max(1.5rem, min(6.73139vw - 0.0776699rem, 8rem));
    padding-bottom: max(3rem, min(1.0356vw + 2.75728rem, 4rem));
    padding-top: max(3rem, min(1.0356vw + 2.75728rem, 4rem));

    .col-tablet-5 {
      @media (min-width: 48rem) {
        grid-column-end: span 5;
      }
    }
    .col-12 {
      // grid-column-end: span 12;
    }

    .footer-global__form legend {
      font-weight: 600;
    }

    .body-m {
      letter-spacing: -0.01em;
      line-height: 1.2;
      font-size: max(1.5rem, min(0.776699vw + 1.31796rem, 2.25rem));
    }

    .col-desktop-start-8 {
      @media (min-width: 77.5rem) {
        grid-column-start: 8;
      }
    }

    .col-desktop-5 {
      @media (min-width: 77.5rem) {
        grid-column-end: span 5;
      }
    }

    .col-tablet-start-7 {
      @media (min-width: 48rem) {
        grid-column-start: 7;
      }
    }

    .col-tablet-6 {
      @media (min-width: 48rem) {
        grid-column-end: span 6;
      }
    }

    .footer-global__email {
      margin-top: max(2rem, min(2.0712vw + 1.51456rem, 4rem));
      position: relative;
    }

    .footer-global__button {
      z-index: 1;
      cursor: pointer;
      background: 0 0;
      border: none;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    .footer-global__button svg {
      width: 100%;
      max-width: 2.375rem;
      display: block;
    }

    .col-tablet-4 {
      @media (min-width: 48rem) {
        grid-column-end: span 4;
      }
    }

    .col-mobileLarge-2 {
      @media (min-width: 40rem) {
        grid-column-end: span 2;
      }
    }

    .footer__label {
      margin-bottom: max(1.5rem, min(0.906149vw + 1.28762rem, 2.375rem));
      font-size: 1rem;
      font-weight: 600;
    }

    .footer__menu-item {
      margin-top: 0.625rem;
      font-size: max(1.125rem, min(0.441176vw + 0.783088rem, 1.3125rem));
      font-weight: 600;
      line-height: 1.15;
    }

    ul {
      list-style-type: none;
    }
  }
}
