.footer {
  background-color: var(--color-surface-white);
  color: var(--color-just-black);

  .container {
    position: relative;
    z-index: 2;
    height: 163.79px;

    .footer__inner {
      @include position-center;
      width: 100%;
      text-align: center;

      .footer_icon {
        margin-bottom: 10px;

        a {
          display: inline-block;
          width: 50px;
          height: 50px;
          background-color: black;
          border-radius: 50px;
          background-size: 25px;
          background-position: center center;
          background-repeat: no-repeat;
          margin-right: 10px;

          &:nth-child(1) {
            background-image: url(../../img/icon_github.png);
          }

          &:nth-child(2) {
            background-image: url(../../img/icon_notion.png);
          }

          &:nth-child(3) {
            background-size: 30px;
            background-image: url(../../img/icon_gitbook.png);
          }

          &:nth-child(4) {
            background-size: 30px;
            background-image: url(../../img/icon_kakaotalk.png);
          }
        }
      }

      .footer_copyright {
        font-size: 14px;
      }
    }
  }
}
