.home-hero {
  padding-bottom: 2.1875rem;
  padding-top: 30vh;
  position: relative;

  @media only screen and (min-width: 48rem) {
    align-items: center;
    display: flex;
    padding-bottom: 12.5rem;
    padding-top: 12.5rem;
  }

  @media only screen and (min-width: 77.5rem) {
    min-height: 100vh;
    padding-bottom: 8.75rem;
    padding-top: 14.75rem;
  }

  .container {
    width: 100%;
    overflow: visible;

    .home-hero__inner {
      position: relative;

      .home-hero__heading {
        padding-bottom: max(2.5rem, min(2.589vw + 1.8932rem, 5rem));

        .home-hero__heading-text {
          &.heading-xl {
            font-size: max(5.125rem, min(13.3333vw + 2rem, 18rem));
            font-weight: 600;
            letter-spacing: -0.02em;
            line-height: 0.9;
          }

          > span {
            display: flex;
            width: 100%;

            span {
              display: block;
              position: relative;
            }

            &:last-child {
              justify-content: flex-end;
            }
          }

          .home-hero__seoeun {
            .e {
              position: relative;

              .home-hero__flair svg {
                position: absolute;
                top: -100px;
                left: 15px;
                width: 7.6vw;
              }
            }
          }

          .home-hero__portfolio {
            .i {
              display: block;
              perspective: 750px;
              position: relative;
            }

            .f {
              .home-hero-squiggle {
                font-size: 0;
                position: absolute;
                z-index: -1;
                bottom: max(-4.375rem, min(-2.589vw - 1.2682rem, -1.875rem));
                height: max(3.125rem, min(8.34952vw + 1.16808rem, 11.1875rem));
                left: 0;
                transform: rotate(25deg);
                width: max(1.875rem, min(4.85437vw + 0.737257rem, 6.5625rem));

                img {
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .home-hero__subtitle {
        margin-bottom: 7.625rem;

        @media only screen and (min-width: 48rem) {
          margin-bottom: 0;
        }
      }
      .home-hero__button {
        @media only screen and (min-width: 48rem) {
          bottom: 16px;
          position: absolute;
          right: 0;
        }

        .button {
          &:hover {
            transition: 0.5s all;
            color: var(--color-just-black) !important;
            path {
              fill: var(--color-just-black) !important;
            }
          }

          &::before {
            width: 24vw;
            height: 24vw;
            background: var(--gradient-macha) border-box;
          }
        }

        .get-gsap-btn__button {
          background: linear-gradient(var(--color-just-black), var(--color-just-black)) padding-box, var(--gradient-macha) border-box;
          border: 0.125rem solid transparent;
          border-radius: 6.25rem;
          color: var(--color-surface-white);
          min-width: 13.75rem;
          overflow: hidden;
          z-index: 1;

          .button__label {
            padding-top: 3px;
          }

          .button__icon {
            align-items: center;
            background: 0 0;
            border: 0.125rem solid;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            width: 24px;
            height: 24px;

            span {
              display: grid;
            }

            svg {
              grid-area: 1/1;
              height: 11px;
              width: 10px;
            }

            // path {
            //   fill: var(--color-surface-white);
            // }
          }

          @media only screen and (min-width: 77.5rem) {
            min-width: 17.125rem;

            &:hover {
              transform: none;
              transition: none;
            }
          }
        }
      }
    }
  }
}
