.home-hero {
  padding-bottom: 2.1875rem;
  padding-top: 30vh;
  position: relative;

  @media only screen and (min-width: 48rem) {
    align-items: center;
    display: flex;
    padding-bottom: 12.5rem;
    padding-top: 14.75rem;
  }

  @media only screen and (min-width: 77.5rem) {
    min-height: 100vh;
    padding-bottom: 8.75rem;
    padding-top: 16.75rem;
  }

  .container {
    width: 100%;
    overflow: visible;

    .home-hero__inner {
      position: relative;

      .home-hero__heading {
        padding-bottom: max(2.5rem, min(2.589vw + 1.8932rem, 5rem));

        .home-hero__heading-text {
          &.heading-xl {
            font-size: max(5.125rem, min(13.3333vw + 2rem, 18rem));
            font-weight: 600;
            letter-spacing: -0.02em;
            line-height: 0.9;
          }

          > span {
            display: flex;
            width: 100%;

            span {
              display: block;
              position: relative;
            }

            &:last-child {
              justify-content: flex-end;
            }
          }

          .home-hero__seoeun {
            .e {
              position: relative;

              .home-hero__flair svg {
                position: absolute;
                top: -6.5vw;
                left: 0.6rem;
                width: 7.6vw;
              }
            }
          }

          .home-hero__portfolio {
            .i {
              display: block;
              perspective: 750px;
              position: relative;
            }

            .f {
              .home-hero-squiggle {
                font-size: 0;
                position: absolute;
                z-index: -1;
                bottom: max(-4.375rem, min(-2.589vw - 1.2682rem, -1.875rem));
                height: max(3.125rem, min(8.34952vw + 1.16808rem, 11.1875rem));
                left: 0;
                transform: rotate(25deg);
                width: max(1.875rem, min(4.85437vw + 0.737257rem, 6.5625rem));

                img {
                  height: 100%;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .home-hero__subtitle {
        margin-bottom: 7.625rem;
      }
      .home-hero__button {
        @media only screen and (min-width: 48rem) {
          bottom: 16px;
          position: absolute;
          right: 0;
        }

        .button {
          &:before {
            width: 18rem;
            height: 18rem;
            border-radius: 18rem;
            top: 4rem;
            right: 9rem;
            background: var(--gradient-macha) border-box;
          }

          &:hover {
            &:before {
              top: -130%;
              transform: translateX(70%);
            }
            transition: 0.5s all;
            color: var(--color-just-black) !important;

            path {
              fill: var(--color-just-black) !important;
            }
          }
        }

        .get-gsap-btn__button {
          background: linear-gradient(var(--color-just-black), var(--color-just-black)) padding-box, var(--gradient-macha) border-box;
          border: 0.125rem solid transparent;
          border-radius: 6.25rem;
          color: var(--color-surface-white);
          min-width: 13.75rem;
          z-index: 1;

          .button__label {
            padding-top: 3px;
          }

          .button__icon {
            align-items: center;
            background: 0 0;
            border: 0.125rem solid;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            width: 24px;
            height: 24px;

            span {
              display: grid;
            }

            svg {
              grid-area: 1/1;
              height: 11px;
              width: 10px;
            }
          }
        }
      }
    }
  }
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/
@media all and (min-width: 1024px) and (max-width: 1279px) {
}

/* 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .subtitle .subtitle__brace {
    transition: all 0.3s;
    height: 61.6px;
  }
  .subtitle .subtitle__label {
    transition: all 0.3s;
    width: 366px;
    font-size: 19.75px;
  }
  .home-hero .container .home-hero__inner .home-hero__button {
    transition: all 0.3s;
    bottom: 0;
  }
}

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  .home-hero {
    padding-top: 13rem;
    transition: all 0.3s;
  }
  .home-hero .container .home-hero__inner .home-hero__button {
    position: static;
  }
  .get-gsap-btn__button.button {
    width: 100%;
  }
  .subtitle .subtitle__brace {
    height: 61.6px;
    transition: all 0.3s;
  }

  .home-hero .container .home-hero__inner .home-hero__button .button:hover {
    --button-fill: var(--gradient-macha);
    background: url(../../img/noise-button.png), var(--button-fill);
    color: var(--color-just-black);
  }

  .home-hero .container .home-hero__inner .home-hero__button .button:before {
    background: none;
  }
}

/* 모바일 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  .get-gsap-btn__button.button {
    width: 100%;
  }
}
