.home-projects {
  .container {
    position: relative;
    z-index: 2;

    .home-projects__inner {
      padding-top: max(4rem, min(6.40777vw + 2.49818rem, 10.1875rem));
      position: relative;

      &:before {
        @media only screen and (min-width: 48rem) {
          background-color: var(--color-surface25);
          content: "";
          height: 0.0625rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }

      .heading-m {
        font-weight: 600;
        letter-spacing: -0.01em;
        line-height: 1;
        font-size: max(4rem, min(1.16505vw + 3.72694rem, 5.125rem));
      }
    }
  }

  .projects__wrap {
    margin: 0 auto;
    top: -22px;
    left: -40%;
    position: relative;

    .swiper {
      position: relative;
      width: 180%;
      padding-bottom: max(4.5rem, min(11.8447vw + 1.72391rem, 15.9375rem));

      .swiper-wrapper {
        .swiper-slide {
          transition: all 0.3s ease-in-out;
          padding-bottom: 9.5rem;

          .projects-item {
            position: relative;
            border-radius: 0.5rem;

            video {
              border-radius: 0.5rem;
            }

            &:hover {
              .item__info {
                opacity: 1;
                transition: all 0.3s;
              }
            }

            .item__info {
              display: none;
              opacity: 0;
              position: absolute;
              top: -1px;
              left: -1px;
              width: 101%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.8);
              font-size: 18px;
              line-height: 2rem;

              > div {
                @include position-center;
                width: 83%;
              }
            }
          }

          &.swiper-slide-prev {
            opacity: 1;
            filter: brightness(60%);
          }

          &.swiper-slide-active {
            transform: scale(0.9);
            top: -2.1vw;
            z-index: 2;
            opacity: 1;
          }

          &.swiper-slide-next {
            opacity: 1;
            filter: brightness(60%);
          }
        }
      }
      .swiper-button-prev {
        left: 61.3%;
        width: 51px;
        height: 51px;

        > div {
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url(../../img/prev_btn.svg);
          background-repeat: no-repeat;
          background-position: center;
          transition: all 0.2s;
        }

        &:hover {
          > div {
            background-image: url(../../img/prev_btn-bk.svg);
          }
        }

        &.button {
          background-color: transparent;
          width: 51px;
          height: 51px;
          box-sizing: border-box;
          border: 2px solid #fff;
          top: -1.4rem;
        }
      }

      .swiper-button-next {
        left: 61.6%;

        > div {
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url(../../img/next_btn.svg);
          background-repeat: no-repeat;
          background-position: center;
          transition: all 0.2s;
        }

        &:hover {
          > div {
            background-image: url(../../img/next_btn-bk.svg);
          }
        }

        &.button {
          background-color: transparent;
          width: 51px;
          height: 51px;
          box-sizing: border-box;
          border: 2px solid #fff;
          top: -1.4rem;
        }
      }

      .swiper-button-prev:after,
      .swiper-button-next:after {
        content: "";
      }
    }

    .projects__details {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      margin-left: 35%;
      width: 100%;
      height: auto;
      padding-bottom: max(4.5rem, min(13.8447vw + 1.72391rem, 15.9375rem));

      .projects__detail {
        font-size: max(1.25rem, min(0.2589vw + 1.18932rem, 1.5rem));

        .projects__title {
          margin-right: 10px;
        }

        .projects__info {
          position: absolute;
          right: 70%;
          z-index: 10;

          .icon {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-size: cover;
            background-image: url(../../img/icon_info.png);
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
          }

          .header__dropdown {
            opacity: 0;
            padding-top: 0.6875rem;
            position: absolute;
            top: 0px;
            transform: translateY(32px);
            transition: transform 0.15s var(--ease-in), opacity 0.15s var(--ease-in), visibility 0s 0.15s;
            visibility: hidden;
            line-height: 24px;

            &:before {
              background-color: rgba(0, 0, 0, 0.35);
              border-radius: 0.4375rem;
              bottom: 0;
              content: "";
              display: block;
              left: 0;
              opacity: 0;
              position: absolute;
              right: 0;
              top: 0.6875rem;
              transition: transform 0.15s var(--ease-in) 0.15s, opacity 0.15s var(--ease-in) 0.15s;
            }

            &.header__dropdown--tools {
              left: calc(50% - 32.375rem);

              .header__dropdown-wrapper {
                width: 35.875rem;
                // word-break: keep-all;

                .header__dropdown-notch {
                  left: 32.25rem;
                  transform: translate(-50%, -100%);
                }
              }
            }

            &.active {
              opacity: 1;
              visibility: visible;
            }

            .header__dropdown-wrapper {
              background-color: var(--color-just-black);
              border: 0.125rem solid var(--color-surface-white);
              border-radius: 0.4375rem;
              position: relative;

              .header__dropdown-notch {
                position: absolute;
                top: 0.0625rem;
              }

              .header__dropdown-menu {
                padding: 2.4375rem;
                font-size: 17px;
              }
            }
          }
        }
      }

      .projects__label {
        color: var(--color-surface50);
        font-size: 0.875rem;
        font-size: 0.875rem;
        font-weight: 400;
        letter-spacing: -0.01em;
        line-height: 1.4;
        margin-top: 10px;
        margin-bottom: 2rem;
      }

      .projects__menu-item--button {
        a {
          display: inline-flex;
          font-size: max(1rem, min(0.38835vw + 0.908981rem, 1.375rem));
          padding: 0.9375rem 1.5rem 0.8rem;
          border: 0.125rem solid var(--color-surface-white);
          line-height: 1.04545;

          .button__label {
            padding-top: 2px;

            &.mobile {
              display: none;
            }
          }

          .button__label-arrow {
            background-color: currentColor;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            margin-top: -2px;
            transition: color 50ms var(--ease-in-out-quart);
            width: 1.3rem;
            height: 1.3rem;
            -webkit-mask: url(../../img/arrow_btn.svg);
          }
        }

        .button-demo {
          border-radius: 6.25rem;
          font-weight: 600;
          letter-spacing: -0.01em;
          background-color: var(--color-surface-white);
          color: var(--color-just-black);
          margin-right: 10px;

          .button__label {
            margin-right: 0.363636em;
          }
        }

        .button {
          &:before {
            width: 22rem;
            height: 22rem;
            border-radius: 22rem;
            top: 4rem;
            right: 13rem;
          }

          &:hover {
            &:before {
              top: -190%;
              transform: translateX(70%);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .home-projects .projects__wrap {
    margin: 0 auto;
    top: -22px;
    left: 0%;
    position: relative;
  }

  .home-projects .projects__wrap .swiper {
    width: 100%;
    margin-bottom: 3rem;
  }

  .home-projects
    .projects__wrap
    .swiper
    .swiper-wrapper
    .swiper-slide.swiper-slide-active {
    top: -0.5vw;
  }

  .home-projects
    .projects__wrap
    .swiper
    .swiper-wrapper
    .swiper-slide
    .projects-item {
    width: 100%;
    margin: 0 auto;
  }

  .home-projects .projects__wrap .projects__details {
    padding-left: max(1.5rem, min(6.73139vw - 0.0776699rem, 8rem));
    padding-right: max(1.5rem, min(6.73139vw - 0.0776699rem, 8rem));
    margin-left: 0%;
  }

  .swiper-button-prev {
    margin-right: 10px;
    left: 80.5vw !important;

    &.button {
      top: -1.2rem !important;
    }
  }

  .swiper-button-next {
    left: 80.5vw !important;

    &.button {
      top: -1.2rem !important;
    }
  }

  .projects__info {
    display: none;
  }

  .item__info {
    display: block !important;
  }
}

@media (max-width: 780px) {
  .swiper-button-prev {
    left: 78.7vw !important;

    &.button {
      top: -1rem !important;
    }
  }

  .swiper-button-next {
    left: 78.7vw !important;

    &.button {
      top: -1rem !important;
    }
  }

  .projects__menu-item--button {
    .button {
      .button__label {
        &.pc {
          display: none;
        }
        &.mobile {
          display: inline-block !important;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .swiper-button-prev {
    left: 71vw !important;

    &.button {
      top: -0.8rem !important;
    }
  }

  .swiper-button-next {
    left: 70.8vw !important;

    &.button {
      top: -0.8rem !important;
    }
  }
}
