.home-skills__inner {
  .skills__wrap {
    position: relative;
    width: 100%;
    height: 100vh;

    .skills__fixed {
      @include position-center;
      width: 100%;
      text-align: center;
      font-weight: 100;
      font-size: max(2.125rem, min(8vw + 2rem, 18rem));

      span {
        background: var(--gradient-macha);
        color: transparent;
        -webkit-background-clip: text;
        font-weight: 600;
      }
    }

    .skills__panels {
      @include position-horizon-center;
      width: 800vw;
      display: flex;
      left: 100vw;
      gap: 2rem;
      list-style-type: none;

      @media only screen and (min-width: 48rem) {
        flex-direction: row;
      }
      .skills__panel {
        background: var(--color-just-black);
        border: 0.125rem solid var(--color-surface50);
        border-radius: 1rem;
        padding: 1.71rem;
        position: relative;
        width: 362.46px;
        height: 25.1rem;

        &:nth-child(1) {
          --panel-theme: var(--color-ui-text-gradient);
        }
        &:nth-child(2) {
          --panel-theme: var(--color-scroll-gradient);
        }
        &:nth-child(3) {
          --panel-theme: var(--color-svg-gradient);
        }
        &:nth-child(4) {
          --panel-theme: var(--gradient-macha);
        }
        &:nth-child(5) {
          --panel-theme: var(--color-ui-gradient);
        }
        &:nth-child(6) {
          --panel-theme: var(--color-ui-code-blocktext-gradient);
        }
        &:nth-child(7) {
          --panel-theme: var(--color-navy-gradient);
        }
        &:nth-child(8) {
          --panel-theme: var(--gradient-lipstick);
        }

        &::after {
          background: linear-gradient(var(--color-just-black, var(--color-just-black)), var(--color-just-black, var(--color-just-black)))
              padding-box,
            var(--panel-theme) border-box;
          border: 0.125rem solid transparent;
          border-radius: 1rem;
          bottom: -0.125rem;
          content: "";
          left: -0.125rem;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          right: -0.125rem;
          top: -0.125rem;
          transition: opacity 0.5s;
          z-index: 1;
        }

        &:hover::after {
          opacity: 1;
        }

        .skills__content {
          position: relative;
          z-index: 2;

          .skills__heading {
            -webkit-text-fill-color: transparent;
            background: var(--panel-theme);
            -webkit-background-clip: text;
            background-clip: text;
          }
          .skills__label {
            color: var(--color-surface50);
            font-size: 0.875rem;
            line-height: 1.2;
            margin: max(1rem, min(0.776699vw + 0.817961rem, 1.75rem)) 0;

            @media only screen and (min-width: 77.5rem) {
              min-height: 4.8125rem;
            }
          }

          .skills__description {
            list-style-position: inside;
            list-style-type: disc;
            margin-top: max(1rem, min(1.0356vw + 0.757282rem, 2rem));

            .skills__desc {
              color: var(--color-surface50);
              list-style-type: none;
              margin-bottom: 0.8125rem;
              padding-left: 20px;
              position: relative;
              line-height: 18px;

              &:before {
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background: var(--panel-theme);
                content: "";
                display: inline-block;
                height: 0.6875rem;
                left: 0;
                margin-right: 1.0625rem;
                -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' fill='none'%3E%3Cpath fill='%230AE448' d='m.215 5.618.018.005.006.002a6.557 6.557 0 0 1 5.128 5.114l.002.01.001.002c.084.32.164.332.248.034a6.555 6.555 0 0 1 5.13-5.159h.003c.326-.086.332-.167.016-.253A6.556 6.556 0 0 1 5.62.213L5.618.213c-.08-.283-.157-.283-.238.003l-.006.018-.001.006a2.13 2.13 0 0 0-.018.07v.002c-.008.042-.018.084-.028.126A6.557 6.557 0 0 1 .505 5.313l-.007.001a4.67 4.67 0 0 1-.235.052H.262l-.01.003H.249c-.32.084-.332.164-.034.248v.001Z'/%3E%3C/svg%3E");
                position: absolute;
                top: 3px;
                width: 0.6875rem;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
