// @font-face {
//   font-family: "Apple SD Gothic Neo";
//   font-style: bold;
//   font-weight: 600;
//   src: url("/fonts/Apple/AppleSDGothicNeoB.woff2") format("font-woff2"), url("/fonts/Apple/AppleSDGothicNeoB.woff") format("woff");
// }

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/PPMori-Regular.woff2) format("font-woff2"), url(../../fonts/PPMori-Regular.woff) format("woff");
}

@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 600;
  src: url(../../fonts/PPMori-SemiBold.woff2) format("font-woff2"), url(../../fonts/PPMori-SemiBold.woff) format("woff");
}
