/* 공백 초기화 */
* {
  margin: 0;
  padding: 0;
}

/* border-box 초기화 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* 블록 속성 처리 */
img,
picture,
svg,
main,
details,
input,
label,
legend,
select,
textarea {
  display: block;
}

/* 이미지 초기화 */
img {
  height: auto;
  max-width: 100%;
  border-style: none;
}

/* HTML 초기화 */
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

/* 폰트 설정 */
h1 {
  font-size: 2em;
}

em,
address {
  font-style: normal;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--color-surface50);
  color: var(--color-surface-white);
  border-radius: 6px;
}

/* 수평 가로선 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* 링크 초기화 */
a,
a:hover,
a:focus {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/* 버튼 초기화 */
button {
  color: currentColor;
}

.button {
  align-items: center;
  border-radius: 6.25rem;
  cursor: pointer;
  display: inline-flex;
  font-size: max(1rem, min(0.38835vw + 0.908981rem, 1.375rem));
  font-weight: 600;
  gap: 0.363636em;
  justify-content: center;
  letter-spacing: -0.01em;
  line-height: 1.04545;
  overflow: hidden;
  padding: 0.9375rem 1.5rem;
  position: relative;
  text-decoration: none;

  @media only screen and (max-width: 39.9375rem) {
    width: 100%;
  }

  &:before {
    content: "";
    display: block;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 10%;
    right:70%;
    background-color: var(--color-surface-white);
    border-radius: 20vw;
    transition: all 0.4s;
    z-index: -1;
  }

  &:hover {
    &::before {
      top: -130%;
      transform: translateX(70%);
    }

    .button__label {
      color: var(--color-just-black);
    }
  }
}

/* 스타일 초기화 */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 120rem;
  padding-left: max(1.5rem, min(6.73139vw - 0.0776699rem, 8rem));
  padding-right: max(1.5rem, min(6.73139vw - 0.0776699rem, 8rem));
}

.container--wide {
  padding-left: max(1.5rem, min(1.5534vw + 1.13592rem, 3rem));
  padding-right: max(1.5rem, min(1.5534vw + 1.13592rem, 3rem));
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form,
form {
  position: relative;
}

input,
select,
textarea {
  width: 100%;
}

/* body 초기화 */
body {
  color: var(--color-surface-white);
  font-family: Mori, sans-serif;
  font-weight: 400;
}
body {
  background-color: var(--color-just-black);
}

a {
  color: currentColor;
}
main {
  position: relative;
  z-index: 1;
}

/* 스킵메뉴 */
#skip a {
  position: absolute;
  left: 10px;
  top: -92px;
  z-index: 100000;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--white);
  background: var(--black);
}
#skip a:focus,
#skip a:active {
  top: 10px;
}
